<%= form_for(@main,:url => url_for(:controller => "mains", :action => "create")) do |mai| %>

	<%= mai.hidden_field :parent_id %>
	
	<%= mai.hidden_field :post_id %>
	
	<%= mai.hidden_field :post_motivation_id %>
<!-- 25 , 37x10 -->
	<div>
		<div><%= mai.label :name %></div>
		<%= mai.text_field :name, class: "textfield" %>
	</div>
	<div>
		<div><%= mai.label :content %></div>
		<%= mai.text_area :content %>
	</div>
	<div>
		<%= mai.submit "Save", :class => "submit-button", data: {:confirm => "Are you sure?"} %>
	</div>
<% end %>

