<%= form_for(@main,:url => url_for(:controller => "mains", :action => "create")) do |mai| %>

	<%= mai.hidden_field :parent_id %>
	
	<%= mai.hidden_field :post_id %>
	
	<%= mai.hidden_field :post_motivation_id %>
<!-- 25 , 37x10 -->
	<div>
		<div><%= mai.label :title %></div>
		<%= mai.text_field :title, class: "textfield" %>
	</div>
	<div>
		<div><%= mai.label :body %></div>
		<%= mai.text_area :body %>
	</div>
	<div>
		<%= mai.submit "Save", :class => "submit-button" %>
	</div>

<% end %>

