<%= stylesheet_link_tag "main_css/about" %>
<% content_for(:title,"MK About") %>

<br />
<br />

<div class="font main-div">
	<center>
		<strong><%= @mystory.name %></strong>
	</center>
	<p><%= @mystory.body.html_safe %></p>
</div>

<br />
<br />

<% @all_projects.each do |project| %>
	<div class="main-div font project-div">
		<center>
					<p>Project's name:</p>
			<%= link_to(show_project_path(project.id)) do %>
					<p>"<%= project.name %>"</p>
			<% end %>
					<p>Visit that webpage:<br /> <span class="ale"><%= link_to project.link, project.link %></span></p>
					<p>Author: Matthew Kilan</p>
			<%= link_to(show_project_path(project.id)) do %>
				<p>CLICK TO READ MORE</p>
					<table>
						<tr>
							<td><%= image_tag(project.picture1) %></td>
							<td><%= image_tag(project.picture2) %></td>
						</tr>
						<tr>
							<td><%= image_tag(project.picture3) %></td>
							<td><%= image_tag(project.picture4) %></td>
						</tr>
					</table>
				
			<% end %>
		</center>
	</div>
	<br />
	<br />
<% end %>
