<%= stylesheet_link_tag "main_css/admin" %>
<% content_for(:title, "Administrator") %>
<br>

<%= form_for(@post_new, :url => url_for(:controller => "posts", :action => "create")) do |newpost| %>
	<div>
		<%= newpost.label :title %>
		<br />
		<%= newpost.text_field :title%>
	</div>
	<div>
		<%= newpost.label :short %>
		<br />
		<%= newpost.text_area :short %>
	</div>
	<div>
		<%= newpost.label :body %>
		<br />
		<%= newpost.text_area :body %>
	</div>
	<div>
		<%= newpost.label :date %>
		<br />
		<%= newpost.text_field :date %>
	</div>
	<div>
		<%= newpost.submit "Create new post" %>
	</div>
<% end %>
<!--
<% @all_comments.each do |posts| %>
	<table class="database_post">
		<tr>
			<td class="id"><%= p "id: #{posts.id}" %></td>
			<td class="name"><%= posts.title %></td>
			<td class="parent">
				<% if posts.parent_id == nil %>
					<%= p "parent_id: root" %>
				<% else %>
					<%= p "parent_id: #{posts.parent_id}" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="body">
				<%= p "Content:" %>
				<%= posts.body %>
			</td>
		</tr>
		<tr>
			<td colspan="3"><%= link_to "Delete", main_path(posts),method: :delete, data: { confirm: "Are you sure?" }  %></td>
		</tr>
		<tr>
			<td colspan="3"><%= link_to "Edit", edit_main_path(posts) %></td>
		</tr>
	</table>
	
<% end %>
-->