<%= stylesheet_link_tag "main_css/admin" %>
<% content_for(:title, "Administrator") %>
<br>
<p>Web development, list of all posts</p>
<%= link_to "Create new post", create_post_path %>
<br />
<br />
<% @all_posts_webdevelopment.each do |post| %>
	<%= link_to (admin_webdev_path(post.id,true)) do %>
		<table class="database_post">
			<tr>
				<td class="id"><%= p "id: #{post.id}" %></td>
				<td class="name"><%= post.title %></td>
			</tr>
			<tr>
				<td colspan="3">
					<%= p "Date:" %>
					<%= post.date %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>

<p>Motivation, list of all posts</p>

<%= link_to "Create new post", create_motivation_path %>

<br />
<br />

<% @all_posts_motivation.each do |post| %>
	<%= link_to (admin_webdev_path(post.id,false)) do %>
		<table class="database_post">
			<tr>
				<td class="id"><%= p "id: #{post.id}" %></td>
				<td class="name"><%= post.title %></td>
			</tr>
			<tr>
				<td colspan="3">
					<%= p "Date:" %>
					<%= post.date %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>

<br /><br />

<p>All posts in Web development and Motivation category:</p>
<% @all_comments.each do |posts| %>
	<table class="database_post">
		<tr>
			<td class="id"><%= p "id: #{posts.id}" %></td>
			<td class="name"><%= posts.title %></td>
			<td class="parent">
				<% if posts.parent_id == nil %>
					<%= p "parent_id: root" %>
				<% else %>
					<%= p "parent_id: #{posts.parent_id}" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="body">
				<%= p "Content:" %>
				<%= posts.body %>
			</td>
		</tr>
		<tr>
			<td colspan="3"><%= link_to "Delete", main_path(posts),method: :delete, data: { confirm: "Are you sure?" }  %></td>
		</tr>
		<tr>
			<td colspan="3"><%= link_to "Edit", edit_main_path(posts) %></td>
		</tr>
	</table>
	
<% end %>