<%= stylesheet_link_tag "main_css/admin" %>
<% content_for(:title, "Administrator") %>
<br>
<p>Web development, list of all posts</p>
<%= link_to "Create new post", create_post_path %>
<br />
<br />
<% @all_posts_webdevelopment.sort.reverse.each do |post| %>
	<%= link_to (admin_webdev_path(post.id,true)) do %>
		<table class="database_post">
			<tr>
				<td class="id"><%= p "id: #{post.id}" %></td>
				<td class="name"><%= post.title %></td>
			</tr>
			<tr>
				<td colspan="3">
					<%= p "Date:" %>
					<%= post.date %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>

<p>Motivation, list of all posts</p>

<%= link_to "Create new post", create_motivation_path %>

<br />
<br />

<% @all_posts_motivation.sort.reverse.each do |post| %>
	<%= link_to (admin_webdev_path(post.id,false)) do %>
		<table class="database_post">
			<tr>
				<td class="id"><%= p "id: #{post.id}" %></td>
				<td class="name"><%= post.title %></td>
			</tr>
			<tr>
				<td colspan="3">
					<%= p "Date:" %>
					<%= post.date %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>

<br /><br />
<div>List of all application's comments:</div>
<p><%= link_to("Link to all comments in Web development and Motivation category",view_all_comments_path) %></p>
<br /><br />

<p>Add new projects that are completed/work in progress</p>

<p><%= link_to("Create new project description",creating_project_path)%></p>

<% @projects_all.each do |project| %>
	<%= link_to(admin_show_project_path(project.id)) do %>
		<table class="database_project">
			
			<tr>
				<td class="id"><%= p "id: #{project.id}" %></td>
				<td class="name" ><%= project.name %></td>
			</tr>
			
		</table>
	<% end %>
	<p>- - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
<% end %>

<br />
<br />

<%= form_for(@mystory,:url => edit_mystory_admin_path(@mystory.id)) do |story| %>
	<div>
		<%= story.label :name %>
		<%= story.text_field :name %>
	</div>
	<div>
		<%= story.label :body %>
		<%= story.text_area :body %>
	</div>
	<div>
		<%= story.label :picture1 %>
		<%= story.text_field :picture1 %>
	</div>
	<div>
		<%= story.label :picture2 %>
		<%= story.text_field :picture2 %>
	</div>
	<div>
		<%= story.label :picture3 %>
		<%= story.text_field :picture3 %>
	</div>
	<div>
		<%= story.submit("Submit",data: {confirm: "Are you sure?"}) %>
	</div>
<% end %>

<br />
<br />

<div>Click below to see list of all books & courses</div>
<%= link_to("All books & courses",admin_all_products_path) %>

<br />
<br />

<div>Click below to edit contact informations</div>
<table>
	<tr>
		<td>Full name: <%= @contact_info.name_surname %></td>
	</tr>
	<tr>
		<td>Facebook: <%= @contact_info.facebook %></td>
	</tr>
	<tr>
		<td>Twitter: <%= @contact_info.twitter %></td>
	</tr>
	<tr>
		<td>Email address: <%= @contact_info.email_address %></td>
	</tr>
	<tr>
		<td>Phone number: <%= @contact_info.phone_number %></td>
	</tr>
	<tr>
		<td>Github: <%= @contact_info.github %></td>
	</tr>
</table>
<%= link_to("Contact informations",contact_information_path)%>
