<%= stylesheet_link_tag "main_css/book&courses" %>
<% content_for(:title,"MK Books&Courses") %>
<!--
<table class="product-table">	
	<tr>
		<td class="name">Persil Power Black</td>
		<td class="picture" rowspan="2"><%# image_tag("200jeden.jpg") %></td>
	</tr>
	<tr>
		<td class="short-desc">Jestem krotkim opisem</td>
	</tr>
	<tr>
		<td class="affiliate" colspan="2">link partnerski</td>
	</tr>
</table>
-->
<% @all_products.each do |product| %>
	<br />
	<div class="whole-div clear-fix font">
		<div class="div-picture"><%= image_tag(product.picture1,{:alt => "Picture"}) %></div>
		<div class="div-name"><b><%= product.name %></b></div>
		<div class="div-author">by <%= product.author %></div>
		<p class="div-short-desc"><%= simple_format(product.short_description,{},{:wrapper_tag => "div"}) %></p>
		<center><p class="div-affiliate"><b><%= link_to(product.affiliate_link,product.name_affiliate_link) %></b></p></center>
		<!--<center><p class="enc"><%# link_to("--\> READ MORE <--",web_development_path)%></p></center>-->
	</div>
	<center><div>- - - - - - - - - - - - - - - - - - - - - - - - - -</div></center>
<% end %>