<%= stylesheet_link_tag "main_css/contact" %>
<% content_for(:title, "MK Contact") %>

<div>
	<%= simple_form_for(@mail,url: url_for(controller: "mains", action: "create_subscriber")) do |g| %>
		<%= g.error_notification %>
		<%= g.input :email, label: false, :placeholder => "Your email address..." %>
		</br>
		<%= g.button :submit, "Sign up for the newsletter" %>
	<% end %>
</div>

<br/>
<br/>
<br/>



<div class="font">
	<p>CONTACT ME</p>
	<div class="divs"><b>My full name:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= @contactinfo.name_surname %></div>
	<div class="divs"><b>Email:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= @contactinfo.email_address %></div>
	<div class="divs"><b>Phone number:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= @contactinfo.phone_number %></div>
	<div class="divs"><b>Facebook:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= link_to(@contactinfo.facebook,@contactinfo.facebook) %></div>
	<div class="divs"><b>Twitter:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= link_to(@contactinfo.twitter,@contactinfo.twitter) %></div>
</div>

<div class="font">
	<p>QUICK CONTACT FORM (you'll send me an email):</p>
	<div>
		<%= simple_form_for(@contact,:url => url_for(controller: "mains", action: "send_contact")) do |f| %>
			<%= f.error_notification %>
			<%= f.input :name %>
			<%= f.input :email %>
			<%= f.input :content, as: :text %>
			<%= f.button :submit, "Submit" %>
		<% end %>
	</div>
</div>