<%= stylesheet_link_tag "main_css/contact" %>
<% content_for(:title, "MK Contact") %>

<br/>
	<div class="font">
	<p>CONTACT INFORMATIONS</p>
		<div class="divs"><b>My full name:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= @contactinfo.name_surname %></div>
		<div class="divs"><b>Email:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= @contactinfo.email_address %></div>
		<div class="divs"><b>Phone number:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= @contactinfo.phone_number %></div>
		<div class="divs"><b>Facebook:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= link_to(@contactinfo.facebook,@contactinfo.facebook) %></div>
		<div class="divs"><b>Twitter:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= link_to(@contactinfo.twitter,@contactinfo.twitter) %></div>
		<div class="divs"><b>Github:&nbsp;&nbsp;&nbsp;&nbsp;</b><%= link_to(@contactinfo.github,@contactinfo.github) %></div>
	</div>
	<br />	
	<br />
<center>
	<div class="newsletter">
		<br />
		<div class="font2">WANT TO SING UP FOR MY NEWSLETTER?</div>
		<div class="font2">I'll send you information announcing new posts availability</div>
		<br />
		<div class="font2">
			<%= simple_form_for(@mail,url: url_for(controller: "mains", action: "create_subscriber")) do |g| %>
				<%= g.error_notification %>
				<%= g.input :email, label: false, :placeholder => "Your email address...", :input_html => {class: "size",id: "email_mailinglist"} %>
				</br>
				<%= g.button :submit, "Sign up for the newsletter", class: "newsletter_sing-up", id: "submit_mailinglist" %>
			<% end %>
		</div>
		<br />
	</div>
	<br />
	<br />
	<div class="font3">
		<p>QUICK CONTACT FORM <br />(you'll send me an email):</p>
		<div>
			<%= simple_form_for(@contact,:url => url_for(controller: "mains", action: "send_contact")) do |f| %>
				<%= f.error_notification %>
				<div>Your name:</div><%= f.input :name, label: false, :input_html => {class: "contact_size",id: "imie"} %>
				<div>Your email:</div><%= f.input :email, label: false, :input_html => {class: "contact_size",id: "imeil"} %>
				<div>Content:</div><%= f.input :content, label: false, as: :text, :input_html => {class: "contact_form",id: "zawartosc"} %>
				<%= f.button :submit, "Submit", class: "contact_submit", id: "submitform_nr2"%>
			<% end %>
		</div>
		<br />
		<br />
		<br />
	</div>
</center>