<%= stylesheet_link_tag "main_css/motivation" %>
<% content_for(:title, "MK Inspiring") %>

<% @sort_rev.each do |asdf| %>
	<%= link_to(motivation_showpost_path(asdf.id),id: "inspiring_#{asdf.id}") do %>
		<div class="post">
			<div class="post_title" > <%= simple_format(asdf.title.upcase,{},{:wrapper_tag => "div"}) %></div>
			<div class="date">Release date: <%= asdf.date %></div>
			<br />
			<div class="short_desc">
				<%= simple_format(asdf.short,{},{:wrapper_tag => "div"}) %>
			</div>
		</div>
	<% end %>
	<div class="hr">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div>
	<br />
<% end %>