<%= stylesheet_link_tag "main_css/webdevelopment" %>
<% content_for(:title, "MK Web development") %>

<div class="post">
	<div class="post_title" style="font-family:'Lato'; font-weight:900; font-size: 3em; line-height: 0.6;">MY FIRST POST TITLE TEXT <br /><span style="font-weight:100; font-size:0.5em;">Release date: 20.06.2014</span></div>
	<br />
	<div class="short_desc" style="font-family:'Lato'; font-weight:300; font-size: 1.4em;"><p>This is my text short description, it's my first short description so be full of empathy, because apparently I need a lot of it my simple, one cocked friend. Here I'm going to tell you 10 reasons to follow your dreams:
		<br />
		<br />1)It makes you become yourself
		<br />2)It makes you feel alive
		<br />3)It makes you happy
		<br />4)It makes you become who you always wanted to be
		<br />5)It makes you grateful
		<br />6)It makes you better person
		<br />7)It makes you more empathic
		<br />8)It makes you feel lighter on your soul
		<br />9)It makes you richer
		<br />10)It makes you have your dreams as reality.</p>
	</div>
</div>

<div class="hr">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div>

<table class="table">
	<thead>
		<tr>
			<th>Name:</th>
			<th>Comment:</th>
		</tr>
	</thead>
	<tbody>
		
<p>in here between</p>
<%= p @main.inspect %>
<p>those paragraphs</p>

<% @mains.each do |a| %>
			<tr>
				<td><%= a.title %></td>
				<td><%= a.body %></td>
			</tr>
<% end %>
		
	</tbody>
</table>




<%= form_for(@main) do |mai| %>

	<div>
		<%= mai.label :title %>
		<%= mai.text_field :title %>
	</div>
	<div>
		<%= mai.label :body %>
		<%= mai.text_area :body %>
	</div>
	<div>
		<%= mai.submit "Submit" %>
	</div>
	
	<% if @main.errors.any? %>
		<div>
			<% @main.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		</div>
	<% end %>


<% end %>



