<%= stylesheet_link_tag("main_css/new")%>
<% content_for(:title,"Add comment") %>

<div class="margin-auto">
	<% if @main.parent %>
		<h3>Reply to comment</h3>
	<% else %>
		<h3>Add new comment</h3>
	<% end %>
	
	<% if @main.errors.any? == false %>
		<div>Post: <b><%= @post_selected.title %></b></div>
		<br />
	<% end %>
	
	
	<% if @main.errors.any? %>
	
	<% if @main.post_id.to_i > 0 %>
    	<% @new_found_post = Post.find(@main.post_id) %>
    <% elsif @main.post_motivation_id.to_i > 0 %>
    	<% @new_found_post = PostMotivation.find(@main.post_motivation_id) %> 
    <% end %>
		<div>Post: <b><%= @new_found_post.title %></b></div>
		<br />
		<div class="border">
			<div class="new-color"><%= pluralize(@main.errors.count, "error") %> prohibited this comment from being saved:</div>
			<div>
				<ul>
					<% @main.errors.full_messages.each do |msg| %>
						<li><div class="new-color"><%= msg %></div></li>
					<% end %>
				</ul>
			</div>
		</div>
		<br />
			<!--
			<div>
				<%= @main.errors.messages[:title] %>
				<%= @main.errors.messages[:body] %>
			</div>
			-->
	<% end %>
	
	<% if @main.parent %>
		<%= render "main", main: @main.parent, from_reply_form: true %>
	<% end %>
	
	<%= render :partial => "form" %>
	
	<!--
	<%# @main.inspect %>
	<br />
	<%# @post_selected.inspect %>
	-->
	
	<br />
	<br />
	
	<%= link_to "Click to go back", learn_webdeb_path, style: "text-decoration: none;" %>
	
	<%= button_to "przycisk", learn_webdeb_path %>
</div>
