<% content_for(:title, "Edit certain post")%>

<%= @comment_to_be_edited.inspect %>

<%= form_for(@comment_to_be_edited, :url => update_edit_post_comment_path(@comment_to_be_edited.id)) do |comment| %>
	<br />
	<div><%= comment.label :name %></div>
	<div><%= comment.text_field :name %></div>
	<br />
	<div><%= comment.label :content %></div>
	<div><%= comment.text_area :content %></div>
	<br />
	<div><%= comment.submit "Submit " %></div>
<% end %>



