<%= stylesheet_link_tag("main_css/motivation_showpost")%>
<% content_for(:title,"MK #{@post_to_render3.title}") %>

<!--<div><%# button_to("Go back",motivation_path) %></div>-->
<div class="post">	
	<div class="post_title"><%= simple_format(@post_to_render3.title.upcase,{},{:wrapper_tag => "div"}) %></div>
	<span class="date">Release date: <%= @post_to_render3.date %></span>
	<br />
	<div class="long_desc">
		<%= simple_format(@post_to_render3.body,{},{:wrapper_tag => "div"}) %>
	</div>
	<div class="hr">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div>
	<!--<p><%# link_to("Add new comment!",new_main_path(0,0,@post_to_render3.id), class: "link") %></p>-->
	<center>
		<!--  <p><%= button_to "Add new comment!", new_main_dupa_path(0,0,@post_to_render3.id), class: "button",id: "add_comment",js: true %></p> -->
		<%= button_to new_main_dupa_path(0,0,@post_to_render3.id), class: "button",id: "add_comment" do %>
			Add new comment!
		<% end %>
	</center>
</div>	

<br />
<br />
<span class="all-posts-comments"><%= mains_tree_for @mains %></span>