<div class="post">	
	<div class="post_title" style="font-family:'Lato'; font-weight:900; font-size: 3em; line-height: 0.6;"><%= @post_to_render3.title.upcase %><br /><span style="font-weight:100; font-size:0.5em;">Release date: <%= @post_to_render3.date %></span></div>
	<br />
	<div class="short_desc" style="font-family:'Lato'; font-weight:300; font-size: 1.4em;">
		<%= @post_to_render3.body %>
	</div>
</div>
<div class="hr">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div>
<br />
<br />
<%= link_to("Add new comment",new_main_path(0,0,@post_to_render3.id)) %>
<br />
<br />
<%= mains_tree_for @mains %>