<% content_for(:title,"Creating project") %>

<%= form_for(@project_to_create, :url => url_for(:controller => "rests",:action => "create_project_final")) do |project| %>
	<div>	
		<%= project.label :name %>
		<%= project.text_field :name %>
	</div>
	<div>
		<%= project.label :description %>
		<%= project.text_area :description %>
	</div>
	<div>
		<%= project.label :link %>
		<%= project.text_field :link %>
	</div>
	<div>
		<%= project.label :picture1 %>
		<%= project.text_field :picture1 %>
	</div>
	<div>
		<%= project.label :picture2 %>
		<%= project.text_field :picture2 %>
	</div>
	<div>
		<%= project.label :picture3 %>
		<%= project.text_field :picture3 %>
	</div>
	<div>
		<%= project.label :picture4 %>
		<%= project.text_field :picture4 %>
	</div>
	<div>
		<%= project.submit("Submit",data: {confirm: "Are you sure?"}) %>
	</div>
<% end %>
