<%= stylesheet_link_tag("main_css/show_project")%>
<% content_for(:title, "MK Project") %>
	
	
		<div class="font main-div">
			<center>
				<p><%= @particular_project.name %></p>
				<table>
					<tr>
						<td><%= image_tag(@particular_project.picture1) %></td>
						<td><%= image_tag(@particular_project.picture2) %></td>
					</tr>
				</table>
			</center>
			<p><%= simple_format(@particular_project.description,{},{:wrapper_tag => "div"}) %></p>
			<p><%= link_to @particular_project.link,@particular_project.link %></p>
		</div>
		
	<br />
	<br />